@charset "UTF-8";

body {
	  color: #282828;
	  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
	  font-size: 17px;
	  line-height: 1.4;
	  padding: 1em;
}

#container {
    margin: 1em auto;
    max-width: 90%;
}

#menu ul,
#menu ul li,
.postpromonav .tags,
.postpromonav .tags li,
.pager,
.pager li,
#toptranslations ul,
#toptranslations ul li {
	  list-style: none;
	  padding-left: 0;
	  padding-right: 0;
}

#toptranslations ul {
	  display: inline;
}

.embed {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.graphviz {
    display: block;
    text-align: center;
    margin: auto;
}
.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#menu ul li,
#toptranslations ul li {
	  display: inline-block;
	  margin-right: 1.5em;
}

#toptranslations h2 {
	  display: inline;
	  font-size: 1em;
	  margin-right: 1.5em;
}

#toptranslations {
	  text-align: right;
	  float: right;
}

.posttranslations h3, .translationslist h3 {
	  display: inline;
	  font-size: 1em;
}

#blog-title{
    text-transform:uppercase;
    letter-spacing:6px;
    font-size:75px;
    text-align:center;
    margin-bottom:10px;
}
#blog-subtitle{
    letter-spacing:2px;
    font-size:25px;
    color:#7c6f64;
    text-align: center;
}

.entry-title {
	  font-size: 2em;
}

.posttranslations h3:last-child, .translationslist h3:last-child {
	  display: none;
}

.postindex article {
	  border-bottom: 1px solid #3c3836;
	  padding-bottom: 1em;
}
#header {
	  border-bottom: 1px solid #3c3836;
}
#footer {
	  border-top: 1px solid #3c3836;
}

.postpromonav {
	  border-bottom: 1px solid #3c3836;
	  border-top: 1px solid #3c3836;
	  margin-top: 1em;
	  padding: .5em 0;
}
.postpromonav .tags {
	  text-align: center;
}
.metadata p:before,
.postpromonav .tags li:before,
.postlist .listdate:after,
.translationslist p:before {
	  content: " — ";
}

.postlist {}
.postlist li:before {}
.postlist li {
	  margin-bottom: .33em;
}
.byline a:not(:last-child):after {
	  content: ",";
}

/* Post and archive pagers */
.postindexpager .pager .next:before {
	  content: "↓ ";
}
.postindexpager .pager .previous:before,
.archivenav .pager .up:before {
	  content: "↑ ";
}
.postpromonav .pager .next:after,
.archivenav .pager .next:after {
	  content: " →";
}
.postpromonav .pager .previous:before,
.archivenav .pager .previous:before {
	  content: "← ";
}
.metadata p:first-of-type:before,
.postpromonav .tags li:first-of-type:before,
.translationslist p:first-of-type:before {
	  content: "";
}
.postpromonav .pager {
	  clear: both;
	  height: 1em;
}
.postpromonav .tags li,
.postpromonav .pager li,
.archivenav .pager li {
	  display: inline-block;
}
.archivenav .pager {
	  text-align: center
}
.postpromonav .pager .next,
.archivenav .pager .next {
	  float: right;
}

.postpromonav .pager .previous,
.archivenav .pager .previous {
	  float: left;
}

.archivenav .pager .disabled,
.archivenav .pager .disabled a,
.archivenav .pager .disabled:link {
	  color: #888;
	  cursor: not-allowed;
}

.metadata p,
.translationslist p {
	  display: inline;
}

#brand {
	  font-size: 3em;
	  line-height: 1;
}

:link, :visited {
	  color: #3c3836;
	  text-de
    coration: none;
    text-decoration: none;
}
:link:hover, :visited:hover {
	  color: #504945;
    text-decoration: none;
}

.reference {
    text-decoration: underline;
}
.citation-reference {
    text-decoration: underline;
}


.footnote-reference{
    vertical-align: super;
    font-size: smaller;
}

#brand :link,
#brand :visited {
	  color: inherit;
}

/* Images */
img {
	  border: none;
	  line-height: 1;
}

.postpage img,
.postpage object,
.postindex article img,
.postindex article object {
	  height: auto;
	  max-width: 100%;
}

.sr-only {
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  padding: 0;
	  margin: -1px;
	  overflow: hidden;
	  clip: rect(0, 0, 0, 0);
	  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	  position: static;
	  width: auto;
	  height: auto;
	  margin: 0;
	  overflow: visible;
	  clip: auto;
}

pre.code, code {
	  white-space: pre-wrap;
	  word-wrap: normal;
	  overflow: auto;
}

@media print {
	  *,
	  *:before,
	  *:after {
		    background: transparent !important;
		    color: #000 !important; 
		    box-shadow: none !important;
		    text-shadow: none !important;
		    font-family: Garamond, Junicode, serif;
	  }

	  body {
		    font-size: 12pt;
	  }

	  a,
	  a:visited {
		    text-decoration: underline;
	  }

	  a[href]:after {
		    content: " (" attr(href) ")";
	  }

	  abbr[title]:after {
		    content: " (" attr(title) ")";
	  }
	  a[href^="#"]:after,
	  a[href^="data:"]:after,
	  a[href^="javascript:"]:after {
		    content: "";
	  }

	  pre,
	  blockquote {
		    border: 1px solid #999;
		    page-break-inside: avoid;
	  }

	  thead {
		    display: table-header-group;
	  }

	  tr,
	  img {
		    page-break-inside: avoid;
	  }

	  img {
		    max-width: 100% !important;
	  }

	  p,
	  h2,
	  h3 {
		    orphans: 3;
		    widows: 3;
	  }

	  h2,
	  h3 {
		    page-break-after: avoid;
	  }

	  .hidden-print {
		    display: none !important;
	  }

	  article .entry-title a[href]:after,
	  article .metadata a[href]:after,
	  article .tags a[href]:after {
		    content: "";
	  }

	  article .metadata .sourceline {
		    display: none;
	  }

	  article .metadata .linkline a[href]:after {
		    content: " (" attr(href) ")";
	  }

	  #header {
		    display: none;
	  }

	  .postpromonav {
		    padding: 0;
	  }
}
